<div class="header">
  <ul class="nav">
    <li><a href="/all">所有宝贝</a></li>
    <li><a href="/jacket">上衣</a></li>
    <li><a href="/pants">下装</a></li>
    <li><a href="/discount">清仓区</a></li>
    <li><a href="/admin">登录</a></li>
  </ul>
</div>